@import "vendor/bootstrap.min.css";

.info-note {
  cursor: help;
  color: royalblue;
}

.w-10 {
  width: 10rem;
}

.self-center {
  margin: 0 auto;
}

.cell {
  position: relative;
  width: 3.125rem;
  height: 3.125rem;
  line-height: 3.125rem;
  text-align: center;
  border: 0.0625rem solid lightgray;
  color: black;
  font-size: 1.1rem;
  background: #f8f9fa;
}

.cell::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #6c757d;
  transition: opacity 0.5s;
  width: 3rem;
  height: 3rem;
}

.flip::after {
  opacity: 0;
}

.done {
  background: #a3cfbb;
  transition: background-color 0.3s;
}
